
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header, .navbar-brand {
    min-height: 50px;
    height: 50px;
    max-height: 50px;
}

#site_title {
    display: flex;
}

.site_logo {
    margin-right: 7px;
}

#site_title p {
    line-height: 25px;
}

#content {
    flex: 1;
    overflow: hidden;
}

#content-row {
    height: 100%;
    flex-direction: row-reverse;
    overflow: hidden;
}

main {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

#canvas-placeholder {
    width: 100vw;
    height: 100vh;
    max-height: 100%;
}

#canvas-placeholder::after {
    content: "";
    background: url("../img/bg.png") no-repeat center;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#canvas-placeholder > div {
    display: none;
}

.canvas-loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas-loading::after {
    opacity: 0.5;
}

.canvas-loading > div {
    display: unset !important;
}

#canvas-wrapper {
    width: 100%;
    height: 100%;
    visibility: hidden;
}

canvas {
    position: relative;
    width: 100vw;
    height: 100vh;
    max-height: 100%;
}

#sidebarMenu {
    height: fit-content !important;
    background-color: transparent !important;
}

.li-tab {
    padding: 0 !important;
}

.nav-item {
    flex: 1;
}

#search-tab > .nav-icon-container {
    background-image: url(../img/card/search-location.svg);
}

#map-tab > .nav-icon-container {
    background-image: url(../img/card/map-marked-alt.svg);
}

#details-tab > .nav-icon-container {
    background-image: url(../img/card/info-square.svg);
}

#share-tab > .nav-icon-container {
    background-image: url(../img/card/share-alt.svg);
}

.nav-link {
    display: flex !important;
    justify-content: center !important;
    padding: 0.5rem 0 !important;
}

.nav-link.active > .nav-icon-container {
    filter: invert(32%) sepia(82%) saturate(3104%) hue-rotate(199deg) brightness(101%) contrast(108%);
}

.nav-link.disabled > .nav-icon-container {
    filter: invert(100%) sepia(0%) saturate(3790%) hue-rotate(52deg) brightness(109%) contrast(70%);
}

.nav-link > .nav-icon-container {
    filter: invert(58%) sepia(50%) saturate(0%) hue-rotate(266deg) brightness(89%) contrast(88%);
}

.nav-icon-container {
    display: block;
    height: 32px;
    width: 100%;
    max-width: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.card-search {
    box-shadow: 0 0 0.5rem rgba(0,0,0,.3) !important;
}

.form-label {
    width: unset !important;
}

.button-submit {
    margin-top: 15px;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.street-wrapper {
    display: flex;
}

.street-col {
    flex: 1;
}

.street-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.street-button > button {
    height: 37px;
}

#house-map {
    height: 300px;
    width: 100%;
}

#sharing-card {
    margin-top: 10px;
}

#sharing-link {
    background-color: transparent !important;
}

footer {
    position: fixed;
    bottom: 0;
    background: rgba(255,255,255,0.7);
    font-size: 11px;
    text-align: center;
    color: #333
}

footer a {
    text-decoration: none;
    color: #0078A8
}