
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header, .navbar-brand {
    min-height: 50px;
    height: 50px;
    max-height: 50px;
}

#site_title {
    display: flex;
}

.site_logo {
    margin-right: 7px;
}

#site_title p {
    line-height: 25px;
}

#content {
    flex: 1;
    overflow: hidden;
}

#content-row {
    height: 100%;
    flex-direction: row-reverse;
    overflow: hidden;
}

main {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

canvas {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 100%;
}

#sidebarMenu {
    height: fit-content !important;
    background-color: transparent !important;
}

.card-search {
    box-shadow: 0 0 0.5rem rgba(0,0,0,.3) !important;
}

.form-label {
    width: unset !important;
}

.button-submit {
    margin-top: 15px;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}